<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cryptex - AdHoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Cryptex iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Cryptex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8707588C1D401283005333B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>870758A11D401283005333B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>870758AC1D401283005333B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8774D77519A2D77100C64E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8774D79619A2D77200C64E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B453371D5F977B0042D840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B453471D5F977B0042D840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B453521D5F977B0042D840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
